{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="text-center text-white d-flex flex-column min-vh-100 justify-content-center">
    <h1 class="title is-1">Welcome to MyFitness Gym!</h1>
    <hr>
    <h4 class="title is-4">If you don't make time for exercise, you'll probably have to make time for illness!</h4>
    <h5 class="title is-5">Stay Fit, Stay Healthy!</h5>
</div>

{% if name == "juice wrld" %}
<h1>Welcome, {{ name }}</h1>
<p>i still see your shadows in my room, can't talk back the love that i gave you, its to the point where i love and i hate you</p>
{% else %}
<p>Jo tum mere ho toh mei kuch nhi mangu duniya se aur tum ho hi nahi toh mein jeena nhi chahu duniya me</p>
{% endif %}

<ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

<ul>
    {% for key, value in dic.items() %}
    <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>

<span class="title"><h1>Classrooms</h1></span>
<hr>
{% for classroom in classrooms %}
<div class="bg-dark text-white">
    <ul class="list-group w-25 mx-auto my-3">
        <li class="list-group-item">Name: {{ classroom.name }}</li>
        <li class="list-group-item">Year: {{ classroom.yearlevel }}</li>
        <li class="list-group-item">Capacity: {{ classroom.capacity }}</li>
    </ul>
</div>
{% endfor %}
{% endblock %}
